.banner {
    position: relative;

    img {
        width: 100%;
    }

    .info {
        bottom: -40px;
        left: -40px;
        position: absolute;
        background-color: var(--bg-color);
        border-radius: 12px;
        width: 450px;
        box-shadow: var(--box-show);
        padding: 12px;

        h2 {
            font-size: 30px;

        }
        
    }
}