* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .main{
    max-width: 1200px;
    width: 100%;

    .mid {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: space-between;
    }
  

  }
  header {
    max-width: 1200px;
  }
}


@media (max-width:769px) {
  .blogCard {
    max-width: 100% !important;
    width: 100%;
    align-items: center;
    /* background-color: aquamarine; */
  }
}